@model Vidly.ViewModels.IndexMovieViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Movies.Count == 0)
{
    <text>We don't have any movies yet.</text>
}
else
{
    <table class="table">
        <tr>
            <th>Movie</th>
        </tr>

        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Name</td>
            </tr>
        }
    </table>
}


