@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <text>We don't have any customers yet.</text>
}
else
{
    <table class="table">
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
            <th>Link</th>
        </tr>

        @foreach (var customer in Model)
        {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.MembershipType.Description</td>
            <td>@customer.MembershipType.DiscountRate%</td>
            <td>@Html.ActionLink("Details", "Details", new { id = customer.Id })</td>
        </tr>
        }
    </table>
}


